@page "/"

<h1>Hello, world!</h1>

<div>
    <p>This is the start page for the Herning Vand Bachelor Project.</p>
</div>
@code {
    private String response;

    protected override async Task OnInitializedAsync()
    {
        
    }

}
