@page "/"
@using BachelorApp.Interfaces;
@inject ILoraSocket socket;
<h1>Hello, world!</h1>

<div>
    <p>This is the start page for the Herning Vand Bachelor Project.</p>
</div>
@code {
    

    protected override async Task OnInitializedAsync()
    {
        // Open up a sensor socket, to listen for incomming signals
        
    }

}
