@page "/pumpstatus"

<h3>Pump Status</h3>
<br>
<div id="displayStatus">
    <ul>
        <li>Have Status items listed here using the list tag? </li>
    </ul>
</div>
<br>
<button type="button" class="btn btn-primary">Update List</button>
@code {

}
