@page "/pumpstatus"
@inject BachelorPageModel model
@using System.Text.Json;

    <h3>Pump Status</h3>
    <br>
    <div id="displayStatus">
        <p>
            Return message: @response
        </p>
    </div>
    <!--
        This would go in the tbody tags with an "at" symbol before the foreach...
        foreach(var reading in readings)
        {
            <tr>
                <td>reading.pump1StartQuantity</td>
                <td>reading.pump1OperatingTime</td>
                ...and so on
            </tr>
        }
    -->
    <div>
        <table>
            <thead>
                <tr>
                    <p>
                        <input @bind="p1Start" /> P1 Start Quantity: @p1Start
                    </p>
                </tr>
                <tr>
                    <p>
                        <input @bind="p1OperTime" /> P1 Operating Time: @p1OperTime
                    </p>
                </tr>
                <tr>
                    <p>
                        <input @bind="p2Start" /> P2 Start Quantity: @p2Start
                    </p>
                </tr>
                <tr>
                    <p>
                        <input @bind="p2OperTime" /> P2 Operating Time: @p2OperTime
                    </p>
                </tr>
                <tr>
                    <p>
                        <input @bind="rain" /> Rain(mm): @rain
                    </p>
                </tr>
                <tr>
                    <p>
                        <input @bind="niveau" /> Niveau(cm): @niveau
                    </p>
                </tr>
                <tr>
                    <p>
                        <input @bind="month" /> Month: @month
                    </p>
                </tr>
                <tr>
                    <p>
                        <input @bind="day" /> Day: @day
                    </p>
                </tr>
                <tr>
                    <p>
                        <input @bind="hour" /> Hour: @hour
                    </p>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <br>
    <button type="button" class="btn btn-primary" @onclick="Request">Update List</button>

    @code {
        private Reading reading;
        private float p1Start = 1, p1OperTime = 3, p2Start = 2, p2OperTime = 4, niveau = 6, rain = 5;
        private int month = 7, day = 8, hour = 9;

        private String response;

        protected override Task OnInitializedAsync()
        {
            return base.OnInitializedAsync();
            //No idea...
        }

        async Task Request()
        {
            reading = new Reading(p1Start, p1OperTime, p2Start, p2OperTime, rain, niveau, month, day, hour);
           
            response = await model.PutReadingItemAsync(reading);
        }
    }
