@page "/pumpstatus"
@inject BachelorPageModel model 


<h3>Pump Status</h3>
<br>
<div id="displayStatus">
    <p>
         Return message: @response
    </p>
</div>
<!--
    This would go in the tbody tags with an "at" symbol before the foreach...
    foreach(var reading in readings)
    {
        <tr>
            <td>reading.pump1StartQuantity</td>
            <td>reading.pump1OperatingTime</td>
            ...and so on
        </tr>
    }
-->
<div>
    <table>
        <thead>
            <tr>
                <th>
                    <p>
                        <input @bind="p1Start" /> P1 Start Quantity: @p1Start
                    </p>
                </th>
                <th>
                    <p>
                        <input @bind="p1OperTime" /> P1 Operating Time: @p1OperTime
                    </p>
                </th>
                <th>
                    <p>
                        <input @bind="p2Start" /> P2 Start Quantity: @p2Start
                    </p>
                </th>
                <th>
                    <p>
                        <input @bind="p2OperTime" /> P2 Operating Time: @p2OperTime
                    </p>
                </th>
                <th>
                    <p>
                        <input @bind="rain" /> Rain(mm): @rain
                    </p>
                </th>
                <th>
                    <p>
                        <input @bind="niveau" /> Niveau(cm): @niveau
                    </p>
                </th>
                <th>
                    <p>
                        <input @bind="month" /> Month: @month
                    </p>
                </th>
                <th>
                    <p>
                        <input @bind="day" /> Day: @day
                    </p>
                </th>
                <th>
                    <p>
                        <input @bind="hour" /> Hour: @hour
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<br>
<button type="button" class="btn btn-primary" @onclick="Request">Update List</button>

@code {
    private Reading reading;
    //private float p1Start=0, p1OperTime=0, p2Start=0, p2OperTime=0, niveau=0, rain=0;
    //private int month=0, day=0, hour=0;
    private float p1Start, p1OperTime, p2Start, p2OperTime, niveau, rain = 0;
    private int month, day, hour = 0;

    private Task<String> response;
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
        //No idea...
    }

    void Request()
    {
        reading = new Reading(p1Start, p1OperTime, p2Start, p2OperTime, niveau, rain, month, day, hour);
        response = model.PutReadingItemAsync(reading);
    }
}
