@inherits LayoutComponentBase
    <link href="~/css/topnav.css" rel="stylesheet" />
    <div class="container-fluid">
        <NavMenu />


        <div class="container">
            <main role="main" class="pb-3">
                @Body
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container mt-4 mb-4">
            &copy; 2020 - I can only blame myself for this...
        </div>
    </footer>